%h1= @playlist.name
%p= link_to 'Back to Playlists', playlists_path
%table.table.table-striped
  %tr
    %th #
    %th Track
    %th Artist
  - @entries.each do |entry|
    %tr
      %td= entry.position
      %td= entry.track.name
      %td= entry.track.artist
