%h1= @playlist.name
%p= link_to 'Back to Playlists', playlists_path
%table.table.table-striped
  %tr
    %th #
    %th Track
    %th Artist
    %th Preview
  - @entries.each do |entry|
    %tr
      %td= entry.position
      %td= entry.track.name
      %td= entry.track.artist
      %td
        - unless (entry.track.preview_url == '')
          %audio{controls: true, preload: 'none'}
            %source{src: "#{entry.track.preview_url}", type: 'audio/mpeg'}
