%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target' => '#navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Musiquely', root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'Blog', 'http://blog.musiquely.com/'
        %li= link_to 'About', about_path
        %li= link_to 'Contact', contact_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to 'Log out', session_path, method: :delete
        - else
          %li= link_to 'Sign in with Spotify', session_new_path
